@import './variables.scss';

@mixin inline_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
}

@mixin common_container{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

@mixin common_bg{
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin between_spacing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin common_btn{
    background-color: lighten($primary_color, 10%);
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    width: 250px;
    padding: 20px 30px;
}