@mixin inline_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
}

@mixin common_container{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

@mixin common_bg{
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin between_spacing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}